

body{
    margin:20px;
    
}
#adi{
    border:1px solid red;
    height:300px;
    width:300px;
    background-color:rgb(100, 255, 80);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    border-radius:50%;
}
/* button{
    display: flex;
    flex-direction: row;
    margin:5px;
    padding:10px;
    border-radius:10px;
    border:2px solid black;
    background-color:lightgrey;
    cursor:pointer;
} */